html {
  min-width: 320px;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  position: relative;
  padding: 5px;
  border: 2px solid transparent;
  color: black;
  text-decoration: none;
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  box-sizing: border-box;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: transparent;
    transition: background-color var(--transition-duration) var(--transition-function);
  }

  &:before {
    left: -2px;
  }

  &:after {
    right: -2px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    border-color: #f90;
  }

  &:hover {
    border-bottom-color: #f90;
    &:after,
    &:before {
      background-color: #f90;
    }
  }

  &:active {
    color: #e1670e;
    border-bottom-color: #e1670e;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
