.form {
  &__inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 32px;

    *:not(:last-child) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  &__input,
  &__textarea {
    @include resetInput;
    border-radius: 16px;
    padding: 14px 24px;
    background-color: #414141;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;

    &::placeholder {
      color: #cacaca;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__textarea {
    flex: 2;

    @media (max-width: $mobile) {
      min-height: 150px;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__button {
    margin-right: 22px;

    @media (max-width: $mobile) {
      border-radius: 8px;
      padding: 12px 19px;
      margin-right: 0;
      margin-bottom: 11px;
      font-size: 12px;
    }
  }

  &__agreement {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    color: #cacaca;

    input[type=checkbox] {
      display: none;
    }
  }

  input[type=checkbox]:checked + &__checkbox:after {
    opacity: 1;
  }

  &__checkbox {
    position: relative;
    display: block;
    flex-shrink: 0;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #cacaca;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01Ljk5OTc3IDcuNjE3ODdMMTAuMjQyNCAzLjM3NTIzTDExLjY1NjYgNC43ODk0NEw1Ljk5OTc3IDEwLjQ0NjNMMi40NjQyNCA2LjkxMDc2TDMuODc4NDUgNS40OTY1NUw1Ljk5OTc3IDcuNjE3ODdaIiBmaWxsPSIjOTdFRTNGIi8+Cjwvc3ZnPgo=');
      opacity: 0;
      transition: opacity var(--transition-duration) var(--transition-function);
    }
  }
}
