.form {
  &__inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 32px;

    *:not(:last-child) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  &__input,
  &__textarea {
    @include resetInput;
    border-radius: 16px;
    padding: 14px 24px;
    background-color: #414141;
    resize: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;

    &::placeholder {
      color: #cacaca;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__textarea {
    flex: 2;

    @media (max-width: $mobile) {
      min-height: 150px;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__button {
    margin-right: 22px;

    @media (max-width: $mobile) {
      padding: 12px 19px;
      margin-right: 0;
      margin-bottom: 11px;
    }
  }

  &__agreement {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    color: #cacaca;

    input[type=checkbox] {
      display: none;
    }
  }

  input[type=checkbox]:checked + &__checkbox:after {
    opacity: 1;
  }

  &__checkbox {
    position: relative;
    display: block;
    flex-shrink: 0;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #cacaca;
    box-sizing: border-box;

    &:after {
      position: absolute;
      top: -1px;
      right: 0;
      left: -1px;
      bottom: 0;
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTQgMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS45OTk3NyA3LjYxNzg3TDEwLjI0MjQgMy4zNzUyM0wxMS42NTY2IDQuNzg5NDRMNS45OTk3NyAxMC40NDYzTDIuNDY0MjQgNi45MTA3NkwzLjg3ODQ1IDUuNDk2NTVMNS45OTk3NyA3LjYxNzg3WiIgZmlsbD0iIzk3RUUzRiIvPgo8L3N2Zz4K');
      opacity: 0;
      transition: opacity var(--transition-duration) var(--transition-function);
    }
  }
}
