.search {
  &__button {
    display: block;
    outline-offset: 2px;
    outline: 2px solid transparent;
    transition-property: outline-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);

    &:focus-visible {
      outline-color: #f90;
      color: #000;
    }

    &:hover {
      color: #f90;
    }

    &:active {
      color: #000;
    }
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4LjYwNjQgMTcuNTc4NEwyNC4wMDAyIDIyLjg3NzRMMjIuNjUxOCAyNC4yMDIyTDE3LjI1OCAxOC45MDMxTDE4LjYwNjQgMTcuNTc4NFoiIC8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTAuOTY1MiAxOS43NDc0QzE1Ljk1IDE5Ljc0NzQgMTkuOTMwMyAxNS43ODY1IDE5LjkzMDMgMTAuOTc0OEMxOS45MzAzIDYuMTYzMDQgMTUuOTUgMi4yMDIxNSAxMC45NjUyIDIuMjAyMTVDNS45ODAyOSAyLjIwMjE1IDIgNi4xNjMwNCAyIDEwLjk3NDhDMiAxNS43ODY1IDUuOTgwMjkgMTkuNzQ3NCAxMC45NjUyIDE5Ljc0NzRaTTEwLjk2NTIgMjEuNzQ3NEMxNy4wMjEgMjEuNzQ3NCAyMS45MzAzIDE2LjkyNDMgMjEuOTMwMyAxMC45NzQ4QzIxLjkzMDMgNS4wMjUyMSAxNy4wMjEgMC4yMDIxNDggMTAuOTY1MiAwLjIwMjE0OEM0LjkwOTI3IDAuMjAyMTQ4IDAgNS4wMjUyMSAwIDEwLjk3NDhDMCAxNi45MjQzIDQuOTA5MjcgMjEuNzQ3NCAxMC45NjUyIDIxLjc0NzRaIiAvPgo8L3N2Zz4K");
    background-color: currentColor;
  }
}
