<section id="about" class="about section">
  <div class="about__content">
    <h2 class="about__title section__title">О нас</h2>
    <p class="about__text section__text">
      Также как перспективное планирование создаёт необходимость включения в производственный план целого ряда
      внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и грандиозности.
      А также диаграммы связей могут быть описаны максимально подробно. Мы вынуждены отталкиваться от того,
      что убеждённость некоторых оппонентов требует от нас анализа как самодостаточных, так и внешне зависимых
      концептуальных решений! Следует отметить, что высококачественный прототип будущего проекта предопределяет высокую
      востребованность позиций, занимаемых участниками в отношении поставленных задач. Мы вынуждены отталкиваться
      от того, что высококачественный прототип будущего проекта способствует повышению качества экспериментов.
    </p>
  </div>

  <div class="about__feature-list">
    <div class="about__feature-item">
      <figure class="about__feature-image-wrap">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="assets/images/about@2x.webp 2x, assets/images/about.webp 1x"
            type="image/webp">
          <source
            media="(min-width: 1280px)"
            srcset="assets/images/about@2x.jpg 2x, assets/images/about.jpg 1x">

          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="assets/images/about-laptop@2x.webp 2x, assets/images/about-laptop.webp 1x"
            type="image/webp">
          <source
            media="(min-width: 1024px) and (max-width: 1279px)"
            srcset="assets/images/about-laptop@2x.jpg 2x, assets/images/about-laptop.jpg 1x">

          <source
            media="(min-width: 768px) and (max-width: 1023px)"
            srcset="assets/images/about-tablet@2x.webp 2x, assets/images/about-tablet.webp 1x"
            type="image/webp">
          <source
            media="(min-width: 768px) and (max-width: 1023px)"
            srcset="assets/images/about-tablet@2x.jpg 2x, assets/images/about-tablet.jpg 1x">

          <source
            media="(max-width: 767px)"
            srcset="assets/images/about-mobile@2x.webp 2x, assets/images/about-mobile.webp 1x"
            type="image/webp">
          <source
            media="(max-width: 767px)"
            srcset="assets/images/about-mobile@2x.jpg 2x, assets/images/about-mobile.jpg 1x">

          <!-- По умолчанию используется изображение для мобильных устройств без ретины -->
          <img class="about__feature-image" src="assets/images/about-mobile.jpg" alt="Описание изображения">
        </picture>


        <figcaption class="about__feature-caption">
          <span>Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации
            новых принципов</span>
          <button class="button about__button">Подробнее</button>
        </figcaption>
      </figure>
    </div>
    <div class="about__feature-item">
      <svg class="about__feature-icon">
        <use xlink:href="assets/images/sprites.svg#about-1"></use>
      </svg>

      <div class="about__feature-text">
        <h3 class="about__feature-title">Консультация с широким активом</h3>
        <p class="about__feature-description">А также свежий взгляд на привычные вещи — безусловно открывает новые
          горизонты для как самодостаточных, так и внешне зависимых концептуальных решений</p>
      </div>
    </div>
    <div class="about__feature-item">
      <svg class="about__feature-icon">
        <use xlink:href="assets/images/sprites.svg#about-2"></use>
      </svg>

      <div class="about__feature-text">
        <h3 class="about__feature-title">В своём стремлении повысить</h3>
        <p class="about__feature-description">Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества</p>
      </div>
    </div>
  </div>
</section>
