<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__column footer__column--logo-nav">
      <svg class="footer__logo">
        <use xlink:href="assets/images/sprites.svg#logo"></use>
      </svg>

      <nav class="footer__nav nav-footer">
        <ul class="nav-footer__list">
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">О нас</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Проекты</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Отзывы</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Договор оферты</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Договор подряда</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Конфиденциальнсть</a></li>
          <li class="nav-footer__item"><a href="#" class="nav-footer__link">Партнёрское соглашение</a></li>
        </ul>
      </nav>

      <ul class="footer__social social">
        <li class="social__item">
          <a href="#" class="social__link social__link--ok">
            <span class="social__icon"></span>
          </a>
        </li>

        <li class="social__item">
          <a href="#" class="social__link social__link--vk">
            <span class="social__icon"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__column footer__column--feedback">
      <h2 class="footer__title">Оставить заявку</h2>

      <form class="footer__form form">
        <div class="form__inputs">
          <input type="text" class="form__input" placeholder="Фамилия, имя и отчество*">
          <input type="email" class="form__input" placeholder="Email*">
          <textarea name="message" placeholder="Сообщение" class="form__textarea"></textarea>
        </div>

        <div class="form__action">
          <button class="button button--fill form__button">Отправить данные</button>
          <label for="agree" class="form__agreement">
            <input id="agree" type="checkbox">
            <span class="form__checkbox"></span>
            Согласен на обработку данных
          </label>
        </div>
      </form>
    </div>

    <div class="footer__column footer__column--info">
      <p class="footer__text">
        Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта:
        разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели развития. Таким
        образом, консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании
        стандартных подходов.
      </p>
    </div>
  </div>
</footer>
