<header class="header">
  <div class="container">
      <svg class="header__logo">
        <use xlink:href="assets/images/sprites.svg#logo"></use>
      </svg>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Этапы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Вопросы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Оставить заявку</a>
        </li>
      </ul>
    </nav>

    <div class="header__search search">
      <button class="search__button">
        <span class="search__icon"></span>
      </button>
    </div>
  </div>
</header>
