<header id="header" class="header">
  <div class="container">
      <svg class="header__logo">
        <use xlink:href="assets/images/sprites.svg#logo"></use>
      </svg>

    <nav class="header__nav nav-header">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a href="#about" class="nav-header__link">О нас</a>
        </li>
        <li class="nav-header__item">
          <a href="#steps" class="nav-header__link">Этапы</a>
        </li>
        <li class="nav-header__item">
          <a href="#questions" class="nav-header__link">Вопросы</a>
        </li>
        <li class="nav-header__item">
          <a href="#footer" class="nav-header__link">Оставить заявку</a>
        </li>
      </ul>
    </nav>

    <div class="header__search search">
      <button class="search__button" aria-label="Поиск по сайту">
        <span class="search__icon"></span>
      </button>
    </div>
  </div>
</header>
