<section id="hero" class="hero">
    <div class="hero__content">
      <h1 class="hero__title">
        Проектные решения любой сложности
      </h1>

      <p class="hero__description">
        Есть над чем задуматься: базовые сценарии поведения пользователей и по сей день остаются уделом проектантов
      </p>

      <button class="button button--fill hero__button">Заказать расчёт</button>
    </div>
</section>
