
<section id="questions" class="questions section">
  <h2 class="questions__title section__title">Вопросы</h2>

  <ul class="questions__list">
    <li class="questions__item question">
      <h3 class="question__label">
        Из чего формируется конечная стоимость проекта?
      </h3>

      <p class="question__value">
        Приятно, граждане, наблюдать, как некоторые особенности внутренней политики могут быть призваны к ответу.
      </p>
    </li>

    <li class="questions__item question">
      <h3 class="question__label">
        У меня есть свой проект. Можно ли его реализовать?
      </h3>

      <p class="question__value">
        А ещё некоторые особенности внутренней политики, которые представляют собой яркий пример континентального типа.
      </p>
    </li>

    <li class="questions__item question">
      <h3 class="question__label">
        Я выбираю между разными компаниями. Почему вы?
      </h3>

      <p class="question__value">
        Явные признаки победы институционализации набирают популярность среди определённых слоёв населения.
      </p>
    </li>
  </ul>
</section>
