.steps {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'step-item step-image';
    gap: 32px;
    margin-bottom: 80px;

    @media (max-width: $desktop) {
      gap: 50px;
    }

    @media (max-width: $laptop) {
      gap: 38px;
      grid-template-columns: 1fr;
      grid-template-areas: 'step-image' 'step-item';
      grid-auto-rows: auto;
    }

    @media (max-width: $tablet) {
      gap: 16px;
      margin-bottom: 60px;
    }

  }

  &__item {
    grid-area: step-item;
    max-width: 760px;

    @media (max-width: $desktop) {
      width: 100%;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #000;

      @media (max-width: $tablet) {
        font-size: 18px;
      }
    }

    &-description {
      margin-top: 0;
      margin-bottom: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #000;

      @media (max-width: $tablet) {
        font-size: 14px;
        line-height: 28px;
      }
    }

    @media (max-width: $laptop) {
      //order: 2;
    }
  }

  &__actions {
    display: flex;

    *:not(:last-child) {
      margin-right: 32px;

      @media (max-width: $tablet) {
        margin-right: 10px;
      }
    }

    @media (max-width: $tablet) {
      *:nth-child(1) {
        flex: 2;
      }

      &:nth-child(2) {
        flex: 1;
      }
    }
  }

  &__action {
    &--more {
      @media (max-width: $tablet) {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
      }
    }

    &--contract {
      border: 1px solid #000;
      color: #000;

      @media (max-width: $tablet) {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
      }

      &:focus-visible,
      &:hover {
        border-color: #666;
        background-color: #666;
        color: #fff;
      }

      &:active {
        border-color: #000;
        background-color: #000;
        color: #fff;
      }
    }
  }

  &__image {
    grid-area: step-image;
    display: block;
    border-radius: 32px;
    width: 100%;
    height: auto;

    @media (max-width: $laptop) {
      //order: 1;
      border-radius: 24px;
    }

    @media (max-width: $tablet) {
      border-radius: 16px;
    }
  }
}
